.progressbar {
    margin-left:10%;
    margin-right:10%;
}

.progressbar div {
    width: 25%;
    padding: 1%;
    float: left;
    text-align: center;
}

.select {
    clear:both;
    margin-left:10%;
    margin-right:10%;
}

.select div {
    width: 100%;
    margin-bottom: 0%;
    text-align: center;
}

#statistic {
    margin: 0;
}